<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:r="http://typo3.org/ns/PageaDev/RubinEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">


    <f:if condition="{loadSwiper}">
        <f:asset.script identifier="rubinevents-swiper" src="EXT:rubin_events/Resources/Public/JavaScript/Lib/Swiper/swiper-element-bundle.min.js" />
    </f:if>

    <swiper-container class="multislider"
                      slides-per-view="1"
                      space-between="24"
                      navigation="true"
                      breakpoints='{
                          "576": { "slidesPerView": 2 },
                          "768": { "slidesPerView": 3 }
                      }'>

        <f:for each="{events}" as="event" iteration="i">
            <swiper-slide class="item item-{i.index}">
                <div class="event-inner d-flex flex-wrap justify-content-start align-items-center">
                    
                    <div class="text-area">
                        <div class="datetimetitle">
                            <div class="date">
                                <div class="daymonth font-headline">
                                    <r:format.localizedDate date="{event.eventStart}" format="d. M" />
                                </div>
                                <div class="year font-headline">
                                    <r:format.localizedDate date="{event.eventStart}" format="Y" />
                                </div>
                            </div>
                            <div class="title font-headline">
                                <f:format.crop maxCharacters="45" append="..." respectWordBoundaries="1" respectHtml="1">{event.title}</f:format.crop>
                            </div>
                        </div>
                        <f:if condition="{event.teaser}">
                            <div class="teaser icontext">
                                <div class="ico">
                                    <i class="rubinicon-info_outline"></i>
                                </div>
                                <div class="text">
                                    <i><f:format.crop maxCharacters="250" append="..." respectWordBoundaries="1" respectHtml="1">{event.teaser}</f:format.crop></i>
                                </div>
                            </div>
                        </f:if>
                        <f:if condition="{event.location}">
                            <div class="location icontext">
                                <div class="ico">
                                    <i class="rubinicon-location_on"></i>
                                </div>
                                <div class="text">
                                    {event.location}
                                </div>
                            </div>
                        </f:if>
                    </div>
                    <div class="readmore">
                        <f:render partial="Event/MoreButton" arguments="{event: event, settings: settings, listPid: listPid, class: 'btn btn-ghost'}" />
                    </div>
                        
                </div>
            </swiper-slide>
        </f:for>

    </swiper-container>

    <f:if condition="{settings.pidList}">
        <div class="list-button">
            <f:link.action action="list" pageUid="{settings.pidList}" class="btn btn-primary"><f:translate key="slider.allEvents" extensionName="RubinEvents" /></f:link.action>
        </div>
    </f:if>
</html> 